@charset="UTF-8";
/*ヘッダー関係のCSS*/
header{
	height: 90px;
	border-bottom: 1px solid;
	padding-left: 300px;
	padding-right: 300px;
	display: flex;
	justify-content: space-between;
	font-family: 'Noto Serif JP', serif;
}
.headerh1{
	margin: 0px;
	height: 50px;
	margin-top: 20px;
	font-size: 3rem;
}
.headerh1 a{
	text-decoration: none;
	color: #000000;
}
.headernav{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}
.headernav li{
	margin-left: 30px;
}
.headernav li a{
	text-decoration: none;
	color: #000000;
}

/*メイン関係のCSS*/
main{
	margin-left: 300px;
	margin-right: 300px;
	font-family: 'Noto Serif JP', serif;
}
/*パンくずリスト*/
.bread{
	margin: 10px;
	padding: 0px;
	list-style: none;
}
.bread li{
	display: inline;
	list-style: none;
}
.bread li:after{
	content: ">";
}
.bread li:last-child;after{
	content: "";
}
.bread li:hover{
	text-decoration: underline;
}
.bread li a{
	color: #000000;
}
/*トップ写真のCSS*/
.TopPhoto{
	background-image: url(DSC06047.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 60vh;
}
/*ページの説明文のCSS*/
section{
	margin-top: 5vh;
	margin-bottom: 5vh;
}
section h2{
	font-size: 2rem;
}

/*記事のCSS*/
.育種期間の短縮{
	display: flex;
	margin-bottom: 40px;
}
.育種期間の短縮 h3{
	font-size: 2rem;
}
.育種期間の短縮Photo{
	background-image: url(DSC05719.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 55%;
	height: 40vh;
}
.育種期間の短縮Explanation{
	width: 35%;
	margin-left: 10%;
}
.属間交雑の簡易化{
	display: flex;
	margin-bottom: 40px;
}
.属間交雑の簡易化 h3{
	font-size: 2rem;
}
.属間交雑の簡易化Photo{
	background-image: url(DSC06504.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 55%;
	height: 40vh;
}
.属間交雑の簡易化Explanation{
	width: 35%;
	margin-left: 10%;
}
.収穫期の拡大{
	display: flex;
	margin-bottom: 40px;
}
.収穫期の拡大 h3{
	font-size: 2rem;
}
.収穫期の拡大Photo{
	background-image: url(DSC06428.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 55%;
	height: 40vh;
}
.収穫期の拡大Explanation{
	width: 35%;
	margin-left: 10%;
}
.突然変異収集{
	display: flex;
	margin-bottom: 40px;
}
.突然変異収集 h3{
	font-size: 2rem;
}
.突然変異収集Photo{
	background-image: url(DSC05955.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 55%;
	height: 40vh;
}
.突然変異収集Explanation{
	width: 35%;
	margin-left: 10%;
}
#詳しくはこちらから{
	width: 100%;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	border: 1px solid;
	margin-top: 30px;
}
/*フッターのCSS*/
footer{
	border-top: 1px solid;
	display: flex;
	padding-left: 300px;
	padding-right: 300px;
	font-family: 'Noto Serif JP', serif;
}
.ページ情報{
	width: 40%;
}
.管理人情報{
	width: 60%;
}